You've been provided a CSV of a fictional backlog of orders. You can fulfill 200 units of apparel + 200 units of footwear. Using Python and applying FIFO, what's the timestamp of the last fully completed a) apparel order and b) footwear order?

In [1]:
import pandas as pd

In [2]:
pd.read_csv('sample_data.csv')

    prod_eng   dt_received  qty
0   footwear   9/6/21 1:38    1
1   footwear  9/6/21 14:57   18
2   footwear  9/1/21 23:42   19
3   footwear  9/6/21 20:21   28
4    apparel  9/3/21 20:14   12
..       ...           ...  ...
95  footwear  9/5/21 22:57    4
96  footwear  9/7/21 23:10   17
97  footwear   9/4/21 5:23   28
98  footwear   9/1/21 7:24   17
99   apparel  9/3/21 11:19    3

[100 rows x 3 columns]